div
  label(for="question") <strong>Question:</strong>
  input(type="text", name="question" placeholder="Please enter a question" value=card.question)
div
  label(for="hint") <strong>Hint:</strong>
  input(type="text", name="hint" placeholder="Please enter a hint" value=card.hint)
div
  label(for="answer") <strong>Answer:</strong>
  input(type="text", name="answer" placeholder="Please enter an answer" value=card.answer)
<br>
input(type="submit" class="btn-flat")
<br>